/*
 * === Filters style ===
 */

/* Filters style */
.filters {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    /*display: inline-block;*/
}
.filters:before,
.filters:after {
    content: "";
    display: table;
}
.filters:after {
    clear: both;
}
.filters {
    *zoom: 1;
}
/* Search button style */
.filters button{
    font-size: 18px;
    background: #ff5a5f;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    float: right;
    margin: 12px 30px;
    min-width: 150px;
}

/*change opacity to 90% when the mouse is on the button*/
.filters button:hover{
    background-color: rgba(255, 90, 95, .9);
}

/*locations and amenities*/
.filters .locations,
.filters .amenities {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 25%;
}
/*locations*/
.filters .locations {
    border-right: 1px solid #dddddd;
}
/*location Border */
.filters .locations:hover,
.filters .amenities:hover {
 background-color: #fafafa;
}
/* Locations and amenities popover menu */
.filters .popover {
 background-color: #fafafa;

